/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fixed width container class that will "auto-center" itself */
.container {
  width: 1200px;
  margin: 0 auto;
}
.btn {
  border-radius: 100%;
  background-color: rgb(97, 224, 224);
  color: white;
  padding: 8px 15px;
  border-style: none;
}
.row {
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.col {
  flex: 1;
  display: flex;
  background-color: pink;
  margin: 6px;
  padding: 30px 0px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(78, 74, 74);
}
